
* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.stack{
  padding: 0px 15px;
  overflow:hidden;
  transition: height .5s ease;
}

@media(min-width: 500px){
  body {
    max-width: 600px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
  }
}
